:root {
  --blue-1: #270061;
  --blue-2: #32CAED;
  --blue-2-light: #BEE4EA;
  --orange: #FF4200;
}
@font-face {
    font-family: 'Avant Garde';
    src: url('/static/fonts/ITCAvantGardeStd-XLt.otf');
    font-weight: 100;
}
@font-face {
    font-family: 'Avant Garde';
    src: url('/static/fonts/ITCAvantGardeStd-Bk.otf');
    font-weight: 200;
}
@font-face {
    font-family: 'Avant Garde';
    src: url('/static/fonts/ITCAvantGardeStd-Bold.otf');
    font-weight: 400;
}
@font-face {
    font-family: 'Avant Garde';
    src: url('/static/fonts/ITCAvantGardeStd-Demi.otf');
    font-weight: 300;
}
@font-face {
    font-family: 'Stellar';
    src: url('/static/fonts/Stellar-Medium.otf');
}

.noscript-main {
  margin: auto;
  margin-top: 50px;
  font-size: 12pt;
  color: #ffffff;
  width: 80vw;
  padding: 60px 20px 80px 20px;
  background-color: var(--blue-1);
  text-align: center;
  background-image:      -o-linear-gradient(100deg, var(--blue-1), var(--blue-2));
  background-image:     -ms-linear-gradient(100deg, var(--blue-1), var(--blue-2));
  background-image:    -moz-linear-gradient(100deg, var(--blue-1), var(--blue-2));
  background-image: -webkit-linear-gradient(100deg, var(--blue-1), var(--blue-2));
  border-radius: 5vw;
  box-shadow: 0 10px 10px #eee;
}

#noscript-main__logo {
  margin: auto;
  max-width: 600px;
}

#noscript-main__logo__logo {
  margin-top: 30px;
  transition: margin 100ms, width 100ms;
}


#noscript-main__logo__baseline {
  position: relative;
}

noscript p {
  font-family: arial;
  max-width: 500px;
  margin: 50px auto 0px;
  color: black;
  width: 80%;
  text-align: center;
}
